.dropdown-button{
    background-color: var(--second-color);
    color: var(--text-color);
    margin-top: 15px;
    font-weight: 700;
    font-size: clamp(20px, calc(var(--index) * 0.8), 32px);
    cursor: pointer;
    transition: 0.5s;
}
.usernames-info:hover{
    opacity: 0.5;
}
.dropdown-list__item {
    padding-left: 0px;
    padding-right: 0px;
    outline: none;
    border: none;
    border-top: 1px solid;
    background-color: var(--second-color);
    font-size: clamp(14px, calc(var(--index) * 0.8), 25px);
    font-weight: 300;

}

